/*
ref rapides:

    polices du site:
    font-family: 'Rubik Mono One', sans-serif;
    font-family: 'Quicksand', sans-serif;

    couleurs du site :
    jaune moutarde : #EEB41F
    presque tout noir : #1e1e1e
    marron du footer : #3E3A35
*/

body{
    margin: 0%;
    padding: 0%;
}

a{
    text-decoration: none;
}

/*image de fond de la bannière*/
#fond{
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 0%; 
/* l'image est en position relative car il y a des éléments à superposer par dessus, comme la barre de navigation et la bannière
Elle est également en display block car les prochaines div devront aller en dessous
Le margin-bottome est à 0 pour éviter les espacements avec la div juste en dessous, les deux doivent être collées*/
}

/*Barre de navigation*/
#menu{
    position:absolute;
    top: 0px;
    right: 0px;
    display: block;
    background-color: #EEB41F;
    font-family: 'Quicksand', sans-serif;
    margin: 0px;
    padding: 0px;
    font-weight: 500;
    text-indent: 20px;
/*Ma barre de navigation est en position absolue pour pouvoir la placer où je veux sur l'image de fond qui est en position relative,
c'est à dire, tout en haut à droite*/
}

nav li{
    display: inline-block;
/*Cela me permet de faire en sorte que mes li se mettent en ligne à l'horizontale*/
}

nav li a{
    color: white;
}

#menu a:hover{
    color: #3E3A35;
}

#menu a:active{
    color: #3E3A35;
}

/*éléments de la barre de menu*/
.barre{
    margin: 0%;
    padding: 0px;
    font-size: 25px;
    padding-right: 50px;
}

#banniere{
    display: block;
    background-color: #EEB41F;
    position: absolute;
    top: 250px;
    width: 100%;
    min-height: 300px;
    /*La position est absolue pour pouvoir placer cet élément où je veux sur l'image de fond*/
}

#giga{
    position: absolute;
    bottom: 50px;
    left: 150px;
    float: left;
    color: white;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 100px;
    letter-spacing: 5px;
    /*La position est absolue pour pouvoir placer cet élément où je veux sur l'image de fond*/
}

/*"Pizzeria"*/
h1{
    position: absolute;
    left: 150px;
    top: 90px;
    float: left;
    color: white;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    font-size: 100px;
    letter-spacing: 20px;
    /*La position est absolue pour pouvoir placer cet élément où je veux sur l'image de fond*/
}

/*bouton "en savoir plus"*/
#plus{
    position: absolute;
    top: 120px;
    right: 150px;
    background-color: #EEB41F;
    color: white;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    padding: 12px 20px;
    border: 2px solid white;
    cursor: pointer;
    /*La position est absolue pour pouvoir placer le bouton où je veux sur l'image de fond*/
}

/*animation de clic du bouton*/
#plus:active{
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
}


/*fond noir de la section nouveautés*/
#nouveautes{
    display: block;
    background-color: #1e1e1e;
    position: relative;
    width: 100%;
    min-height: 400px;
    margin: 0%;
    padding-bottom: 80px;
    /*La position de cette div est en relative pour que les éléments à l'intérieur (image + div) puissent être placés où je veux
    par rapport à cette div là.*/
}

/*image de la section nouveautés*/
#pizzanouveau{
    position: absolute;
    top: 50px;
    right: 0px;
    width: 50%;
    height: 300px;
    /*La position est absolue pour pouvoir placer cette image où je veux sur la div parent*/
}

/*titre de la section nouveauté*/
#titrenouveau{
    float: left;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    width: 50%;
    padding-left: 150px;
}

/* les paragraphes de la section nouveautés*/
.paranouveau{
    display: block;
    float: left;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    width: 50%;
    padding-left: 150px;
}

/*section de la section nouveautés*/
#textenouveau{
    display: block;
    background-color: #EEB41F;
    position: absolute;
    top: 50px;
    width: 45%;
    height: 300px;
    /*La position est absolue pour pouvoir placer cette div où je veux sur la div parent*/
}

/*les titres des services proposés par le resto*/
/*milieu*/
#masterclass{
    display:inline-block;
    color: #EEB41F;
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    font-weight: bolder;
    width: 25%;
    text-align: left;
    margin-top: 150px;
}
/*gauche*/
#format{
    display:inline-block;
    color: #EEB41F;
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    font-weight: bolder;
    width: 25%;
    text-align: left;
    margin-top: 150px;
    margin-left: 250px;
}
/*droite*/
#restaurant{
    display:inline-block;
    color: #EEB41F;
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    font-weight: bolder;
    width: 25%;
    text-align: left;
    margin-top: 150px;
}

/*paragraphes sous les services proposés par le resto*/
/*milieu*/
#paraservices2{
    display:inline-block;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    width: 22%;
    text-align: left;
    margin-left: 45px;
    padding-bottom: 100px;
}
/*gauche*/
#paraservices1{
    display:inline-block;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    width: 22%;
    text-align: left;
    margin-left: 250px;
    padding-bottom: 100px;
}
/*droite*/
#paraservices3{
    display:inline-block;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    width: 22%;
    text-align: left;
    margin-left: 45px;
    padding-bottom: 100px;
}

/*Section Pizzas*/
#sectionpizzas{
    background-color: #1e1e1e;
    padding-top: 20px;
    padding-bottom: 150px;
}

/*titre du menu*/
#nospizzas{
    color: white;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 70px;
    margin-left: 20px;
    padding-bottom: 70px;
}

/*images des pizzas au menu*/
.pizzas{
    display: inline-block;
    width: 25%;
    padding-left: 90px;
    
}

/*section avec la photo de la devanture, l'adresse, le tel, les réseaux*/
#infos{
    position: relative;
    padding-bottom: 150px;
    padding-top: 100px;
    /*La position de cette div est relative pour pouvoir placer les éléments à l'intérieur de cette div où je veux par rapport 
    à cette div parent*/
}

/*image du resto*/
#facade{
    position: relative;
    display: inline-block;
    width: 50%;
    margin-left: 100px;
    /*L'image est en position relative pour ne pas gêner le placement des autres éléments dans la même div*/
}

/*adresse + téléphone*/
#adresse{
    position: absolute;
    top: 200px;
    left: 950px;
    display: inline-block;
    width: 20%;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    /*La position est absolue pour pouvoir placer ce paragraphe où je veux sur la div parent*/
}

/*section des réseaux sociaux*/
#reseaux{
    position: absolute;
    right: 0px;
    bottom: 200px;
    background-color: #EEB41F;
    width: 25%;
    padding-top: 5px;
    /*La position est absolue pour pouvoir placer cette div où je veux sur la div parent*/
}

/*logos réseaux sociaux*/
.picto{
    display: inline-block;
    font-size: 40px;
    padding-left: 20px;
}

#reseaux a:hover{
    color: #3E3A35;
}

footer{
    background-color: #3E3A35;
    font-family: 'Quicksand', sans-serif;
    color: white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    letter-spacing: 1px;
}

footer a:hover{
    color: #EEB41F;
}

footer a:active{
    color: #EEB41F;
}